{% extends "account/base.html" %}
{% load static %}

{% block title %}FullCtl Account{% endblock %}

{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&amp;family=Space+Mono&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static "whitelabel/css/app.css" %}">
<link rel="stylesheet" href="{% static "whitelabel/css/dark.css" %}">
<link rel="stylesheet" href="{% static "whitelabel/whitelabel.css" %}">
{% endblock %}

{% block base_javascript %}
<script src="{% static "whitelabel/js/app.js" %}"></script>
{% endblock %}
