{% extends "account/footer.html" %}
{% load static i18n %}
{% block footer %}
<footer>
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col footer-left">
      <div class="row align-items-center">
        <div class="col-sm-auto theme-switcher" type="button">
          <span class="icon icon-lg icon-theme-switcher">L+ration Lulw</span>
        </div>
        <div class="col-auto">
          <a href="mailto:hello@fullctl.com">Contact Us</a> |
          <div type="button" data-bs-toggle="modal" data-bs-target="#featureRequestModal">
            Feature Request
          </div>
        </div>
      </div>
    </div>
    <div class="col-auto footer-center">Copyright © 2014 - 2022 20C, LLC</div>
    <div class="col footer-right">
      <div class="row align-items-center">
        <div class="ms-auto col-auto">{{ version }}</div>
        <div class="help-box js-hide">
          <div class="banner-img">
            <img src="{% static "common/v2/imgs/help.png" %}" alt="">
          </div>
          <a href="https://docs.fullctl.com" target="_blank">Help Center</a>
          <a href="mailto:support@fullct.com">Contact Support</a>
          <a href="https://www.fullctl.com/legal">Legal Notes</a>
        </div>
        <div class="col-sm-auto help-btn" type="button">
          <span class="icon icon-lg icon-help"></span>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
{% endblock %}
