{% extends "account/base.html" %}
{% load i18n static %}

{% block header_outer %}
  {% include "account/header-switcher.html" %}
{% endblock %}

{% block content %}

{% block navigation_tabs %}
{% endblock %}

<div class="row controlpanel">
  <div class="col-xs-12 col-md-8">
    {% block controlpanel %}
    {% endblock %}
  </div>
  <div class="col-xs-12 col-md-4">
    {% block menu %}
    {% endblock %}
  </div>
</div>

{% endblock %}

{% block javascript %}
{{ super }}
<script>
  {% if request.selected_org %}
  account.org = {
    "id": {{ request.selected_org.id }},
    "slug": "{{ request.selected_org.slug }}"
  }
  {% endif %}

  $(document).ready(function() {
    window.controlpanel = new account.ControlPanel();
  });
</script>
{% endblock %}
