{% load i18n static crispy_forms_tags %}
{% if initial_password %}
    <div class="alert alert-warning" id="setPasswordAlert">
    {% blocktrans %}
    This account does not have a usable password set. Please go ahead and set one below.
    {% endblocktrans %}
    </div>
{% endif %}


  <form
    class="change-password"
    data-api-base="{% url "account_api:user-list" %}"
    data-api-action="set_password"
    data-api-method="PUT"
  >
    <div data-api-submit="yes">
    {{ change_pwd_form|crispy }}
    </div>
    <div class="right">
      <button 
          class="btn btn-link cancel-collapse" 
          data-toggle="collapse" 
          data-target="#collapseFour" 
          aria-expanded="true" 
          aria-controls="collapseFour">
        Cancel
      </button>
      <button type="button" class="btn btn-primary submit">
      {% trans "Save" %}
      </button>
    </div>
  </form>

