{% extends "account/controlpanel/index.html" %}
{% load i18n static crispy_forms_tags %}


{% block controlpanel %}

<div class="row">

  <div class="col-xs-12 col-lg-6">
{% if initial_password %}
    <div class="alert alert-warning">
    {% blocktrans %}
    This account does not have a usable password set. Please go ahead and set one below.
    {% endblocktrans %}
    </div>
{% endif %}


    <form
      class="change-password"
      data-api-base="{% url "account_api:user-list" %}"
      data-api-action="set_password"
      data-api-method="PUT"
      {% if request.GET.next %}
      data-api-redirect="{{ request.GET.next }}"
      {% endif %}
    >
    <div data-api-submit="yes">
    {{ form|crispy }}
    </div>
    <div class="right">
      <button type="button" class="btn btn-primary submit">
      {% if request.GET.next %}
      {% trans "Save and Continue" %}
      {% else %}
      {% trans "Save" %}
      {% endif %}
      </button>
    </div>
    </form>
  </div>

  <div class="col-xs-12 col-lg-6"></div>
</div>

<script>
$(document).ready(function() {
  new account.ChangePassword();
});
</script>


{% endblock %}

{% block menu %}
<p></p>
{% endblock %}
