{% extends "account/controlpanel/index.html" %}
{% load i18n static crispy_forms_tags %}


{% block controlpanel %}
<div class="row">
  <div class="col-xs-12 col-md-6">
    <form
      class="create-organization"
      data-api-base="{% url "account_api:api-root" %}"
      data-api-action="org"
      data-api-method="POST"
    >
    <div data-api-submit="yes">
    {{ form_create_org|crispy }}
    </div>
    <div class="right">
      <button type="button" class="btn btn-primary submit">{% trans "Create" %}</button>
    </div>
    </form>
  </div>

  <div class="col-xs-12 col-md-6"></div>
</div>

<script>
$(document).ready(function() {
  new account.CreateOrganization();
});
</script>


{% endblock %}
