{% extends "account/controlpanel/index.html" %}
{% load i18n static crispy_forms_tags %}


{% block controlpanel %}
<div class="row">
  <div class="col-xs-12 col-md-6">
    <form
      class="edit-organization"
      data-api-base="{% url "account_api:org-detail" pk=request.selected_org.slug %}"
      data-api-redirect="{% url "account:controlpanel" %}"
      data-api-method="PUT"
    >
    <div data-api-submit="yes">
    {{ form|crispy }}
    </div>
    <div class="right">
      <button type="button" class="btn btn-primary submit">{% trans "Save" %}</button>
    </div>
    </form>
  </div>

  <div class="col-xs-12 col-md-6"></div>
</div>

<script>
$(document).ready(function() {
  var edit_organization = new account.EditOrganization();
});
</script>


{% endblock %}
{% block menu %}
<div></div>
{% endblock %}
