{% load i18n static crispy_forms_tags %}
<div class="modal fade" id="editOrgModal" tabindex="-1" role="dialog" aria-labelledby="editOrgModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header grey-bg">
        <h5 class="modal-title" id="editOrgModalLabel">
          Organization Settings</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          class="edit-organization"
          data-api-base="{% url "account_api:org-detail" pk=request.selected_org.slug %}"
          data-api-redirect="{% url "account:controlpanel" %}"
          data-api-method="PUT"
        >
        <div data-api-submit="yes">
        {{ edit_org_form|crispy }}
        </div>
        <div class="right">
          <button type="button" class="btn btn-manage submit">{% trans "Save" %}</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>