{% extends "account/base.html" %}
{% load i18n static %}

{% block header_outer %}
  {% include "account/header-switcher.html" %}
{% endblock %}

{% block content %}
<div class="row controlpanel">
  <div class="col-xs-12 col-md-8">
    {% block controlpanel %}
    <div class="row mt-2 justify-content-between">
      <div class="col-xs-12 col-sm-auto ps-0">
        <h2>Account Dashboard</h2>
      </div>
      <div class="col-xs-12 col-sm-auto ps-0">
        <div
          class="dropdown org-select"
          data-api-base="{% url "account_api:org-list" %}">
          <div class="custom-divider">
            <a class="btn org-select-dropdown-header clearfix text-start"
                href="#" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <div class="dropdown-menu org-select-menu dd-box-shadow list-body"
                 aria-labelledby="dropdownMenuLink"></div>
            {% include "account/controlpanel/create-org-modal.html" %}
          </div>
          <div class="templates" style="display:none">
              <a data-template="row" class="dropdown-item org-item">
                <span data-field="label"></span>
              </a>
              <a data-template="btn_make_default" class="dropdown-item org-item text-body" data-api-base="{% url "account_api:user-set-default-org" %}">
                <span>{% trans "Set as primary organization" %}</span>
              </a>
          </div>
       </div>
      <div class="ms-2 small-links">
          {% if permissions.update_org_org %}
          <a href="javascript:void(0)" role="button" data-bs-toggle="modal" data-bs-target="#editOrgModal">Organization Settings</a>
          {% endif %}
          {% if permissions.update_org_org and permissions.read_org_billing %}
          <span> | </span>
          {% endif %}
          {% if permissions.read_org_billing %}
          <a href="{% url "billing:billing-contacts" %}">Billing</a>
          {% endif %}
      </div>
      {% include "account/controlpanel/edit-organization-modal.html" %}
      </div>
    </div>

    

    <div class="row">
      <div class="col ps-0 mt-4 mb-4">
        {% if not user.user_settings.email_confirmed and enable_email_confirmation %}
        <div class="alert alert-warning">
          <div class="row">
            <div class="col-6">
            {% trans "Please confirm your email address." %}
            </div>
            <div class="col-6 right">
              <form
                class="resend-confirmation-email"
                data-api-base="{% url "account_api:user-resend-confirmation-mail" %}"
                data-api-method="POST">
                <button type="button" class="btn btn-sm btn-warning submit">{% trans "Resend Email" %}</button>
              </form>
            </div>
          </div>
        </div>
        {% else %}
        <p>{% trans "No messages." %}</p>
        {% endif %}
      </div>
    </div>

    <div class="accordion dashboard-cards">

      <!-- SERVICES -->

      <div class="accordion-item">
          {% block services %}
          {% include "account/controlpanel/service-list.html" %}
          {% endblock %}
      </div>

      <!-- USERS -->

      {% if permissions.read_org_user %}
      <div class="accordion-item">
        <h5 class="accordion-header" id="heading-users">
          <button 
            class="accordion-button fs-5 collapsed" 
            type="button" 
            data-bs-toggle="collapse"
            data-bs-target="#collapse-users" 
            aria-expanded="false" 
            aria-controls="collapse-users">
            {% trans "Users" %}
          </button>
        </h5>
        <div id="collapse-users" class="accordion-collapse collapse" aria-labelledby="heading-users">
          {% block users %}
          {% include "account/controlpanel/user-list.html" %}
          {% include "account/controlpanel/pending-user-list.html" %}
          {% if permissions.create_org_user and request.selected_org.user != request.user %}
            <div class="text-center">
              <button type="button" class="btn btn-manage btn-slim" data-bs-toggle="modal" data-bs-target="#inviteModal">
                + Invite Users to Your Organization
              </button>
            </div>
            {% include "account/controlpanel/invite-modal.html" %}
          {% endif %}
          {% endblock %}
        </div>
      </div>
      {% endif %}

      <!-- API KEYS -->

      {% if permissions.read_org_org_key %}
      <div class="accordion-item">
        <h5 class="accordion-header" id="heading-api-keys">
          <button 
            class="accordion-button fs-5 collapsed" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#collapse-api-keys" 
            aria-expanded="false" 
            aria-controls="collapse-api-keys">
            {% trans "API Keys" %}
          </button>
        </h5>
        <div id="collapse-api-keys" class="accordion-collapse collapse" aria-labelledby="heading-api-keys">
          <div class="row key-container">
            {% block org_keys %}
            {% include "account/controlpanel/org-apikey-list.html" %}
            {% if permissions.create_org_org_key %}
              <div class="text-center">
                <button type="button" class="btn btn-manage btn-slim" data-bs-toggle="modal" data-bs-target="#orgApiKeyModal">
                  {% trans "+ Create API Key" %}
                </button>
              </div>
              {% include "account/controlpanel/org-apikey-modal.html" %}
            {% endif %}
            {% endblock %}
          </div>
        </div>
      </div>
      {% endif %}

      {% if permissions.read_org_billing %}
      <div class="accordion-item">
        <h5 class="accordion-header" id="heading-order-history">
          <button 
            class="accordion-button fs-5 collapsed" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#collapse-order-history" 
            aria-expanded="false" 
            aria-controls="collapse-order-history">
            {% trans "Order History" %}
          </button>
        </h5>
        <div id="collapse-order-history" class="accordion-collapse collapse" aria-labelledby="heading-order-history">
          <div class="row order-history-container">
            <div
              class="order-history"
              data-api-base="{% url "billing_api:org-detail" pk=request.selected_org.slug %}"
              data-api-action="orders">
              <div class="templates" style="display:none">
                <table>
                  <tr data-template="row">
                    <td scope="col" data-field="description" class="table-text-bold dark-grey"></td>
                    <td scope="col" data-field="processed" class="light-grey"></td>
                    <td scope="col" data-field="price" class="dark-grey pe-4 right "></td>
                    <td scope="col" data-field="order_id" class="small-links"></td>
                  </tr>
                </table>
              </div>
              <table class="table table-sm table-inline small-table-row">
                <tbody id="orderHistoryListBody" class="list-body">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

    </div>

    {% endblock %}
  </div>
  <div class="col-xs-12 col-md-4">
    {% block menu %}
    {% include "account/controlpanel/menu.html" %}
    {% endblock %}
  </div>
</div>

{% endblock %}

{% block javascript %}
{{ super }}
<script>
{% if request.selected_org %}
account.org = {
  "id": {{ request.selected_org.id }},
  "slug": "{{ request.selected_org.slug }}"
}
{% endif %}

$(document).ready(function() {
  window.controlpanel = new account.ControlPanel();
});
</script>
{% endblock %}


