{% extends "account/controlpanel/index.html" %}
{% load i18n static crispy_forms_tags %}


{% block controlpanel %}

{% if request.selected_org.user == request.user %}

<div class="alert alert-info">
{% blocktrans %}
You currently have your personal organization selected, which is not open to invitation to other users.
{% endblocktrans %}
</div>

{% elif not can_invite %}

<div class="alert alert-error">
{% blocktrans %}
You do not have the permissions to invite to this organization
{% endblocktrans %}
</div>

{% else %}

<h5>{{ request.selected_org.label }}</h5>

<div class="alert alert-info">
{% trans "Invite a user to the organization" %}
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <form
      class="invite"
      data-api-base="{% url "account_api:org-detail" pk=request.selected_org.slug %}"
      data-api-action="invite"
      data-api-method="POST"
    >
    <div data-api-submit="yes">
    {{ form|crispy }}
    </div>
    <div class="right">
      <button type="button" class="btn btn-primary submit">{% trans "Send Invite" %}</button>
    </div>
    </form>
  </div>

  <div class="col-xs-12 col-md-6"></div>
</div>

<script>
$(document).ready(function() {
  new account.Invite();
});
</script>
{% endif %}

{% endblock %}

{% block menu %}
<div></div>
{% endblock %}
