{% load i18n static crispy_forms_tags %}
<div>
  <div class="accordion user-info" id="accordion">
    <div class="accordion-item">
      <div class="pt-3 pb-3 ps-4 pe-4" id="userInformation">
        <div class="row">
          <div class="col-8">
            <h5 class="d-inline text-dark">
              {{ request.user.get_full_name }}
            </h5>
          </div>
          <div class="col-4 d-flex justify-content-end">
            <button
              class="btn btn-link edit-collapse d-flex align-items-center"
              data-bs-toggle="collapse"
              data-bs-target="#userInfoCollapse"
              aria-expanded="true"
              aria-controls="userInfoCollapse"
            >
              <span class="icon icon-edit"></span>
              <span>Edit</span>
            </button>
          </div>
        </div>
        <p>{{ request.user.email }}</p>
      </div>
      <div id="userInfoCollapse" class="collapse" aria-labelledby="userInformation" data-parent="#accordion">
        <div class="accordion-body">
          <form
            class="change-information"
            data-api-base="{% url "account_api:api-root" %}"
            data-api-action="user"
            data-api-method="PUT"
          >
            <div data-api-submit="yes">
            {{ change_user_info_form.email | as_crispy_field }}
            <div class="form-row">
              <div class="mb-3 col-6 mb-0">
                {{ change_user_info_form.first_name | as_crispy_field }}
              </div>
              <div class="mb-3 col-6 mb-0">
                {{ change_user_info_form.last_name | as_crispy_field }}
              </div>
            </div>
            {{ change_user_info_form.username | as_crispy_field }}
            {% if request.user.has_usable_password %}
              {{ change_user_info_form.password | as_crispy_field }}
            {% endif %}
            </div>
            <div class="right">
              <button
                class="btn btn-link cancel-collapse"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne">
              Cancel</button>
              <button type="button" class="btn btn-primary submit">{% trans "Save" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h5 class="accordion-header" id="headingSix">
        <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Invites <span id="count-invites"></span>
        </button>
      </h5>
      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix">
        <div class="accordion-body">
          {% include "account/controlpanel/user-invites.html" with form=user_settings_form %}
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h5 class="accordion-header" id="headingFive">
        <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Preferences
        </button>
      </h5>
      <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
        <div class="accordion-body">
          {% include "account/controlpanel/user-preferences.html" with form=user_settings_form %}
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h5 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Linked Authentication
        </button>
      </h5>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
        <div class="accordion-body">
          {% include "account/controlpanel/linked-authentication.html" %}
        </div>
      </div>
    </div>

    {% if permissions.read_org_user %}
    <div class="accordion-item">
      <h5 class="accordion-header" id="users">
        <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#userCollapse" aria-expanded="false" aria-controls="userCollapse">
          {% trans "Users" %}
        </button>
      </h5>
      <div id="userCollapse" class="accordion-collapse collapse" aria-labelledby="users">
        <div class="accordion-body">
          {% block users %}
          {% include "account/controlpanel/user-list.html" %}
          {% include "account/controlpanel/pending-user-list.html" %}
          {% if permissions.create_org_user and request.selected_org.user != request.user %}
            <div class="text-center">
              <button type="button" class="btn btn-manage btn-slim" data-bs-toggle="modal" data-bs-target="#inviteModal">
                + {% trans "Invite Users to Your Organization" %}
              </button>
            </div>
            {% include "account/controlpanel/invite-modal.html" %}
          {% endif %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% endif %}

    {% if permissions.read_org_billing %}
    <div class="accordion-item">
      <h5 class="accordion-header" id="order-history">
        <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#orderHistoryCollapse" aria-expanded="false" aria-controls="orderHistoryCollapse">
          {% trans "Order History" %}
        </button>
      </h5>
      <div id="orderHistoryCollapse" class="accordion-collapse collapse order-history-container" aria-labelledby="order-history">
        <div
          class="order-history"
          data-api-base="{% url "billing_api:org-detail" pk=request.selected_org.slug %}"
          data-api-action="orders">
          <div class="templates" style="display:none">
            <div data-template="row" class="row">
              <div class="col">
                <div class="row">
                  <div scope="col" data-field="processed" class="col mb-0 light-grey my-1"></div>
                </div>
                <div class="row">
                  <div scope="col" data-field="description" class="col dark-grey mt-0 mb-1"></div>
                  <div scope="col" data-field="price" class="col-auto dark-grey mt-0 mb-1"></div>
                  <div scope="col" data-field="order_id" class="col-auto small-links mt-0 mb-1"></div>
                </div>
              </div>
            </div>
          </div>

          <div id="orderHistoryListBody" class="list-body container-fluid">
          </div>

        </div>
      </div>
    </div>
    {% endif %}

    <div class="accordion-item">
      <h5 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Personal API Keys
        </button>
      </h5>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
        <div class="accordion-body">
          {% include "account/controlpanel/personal-keys.html" %}
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h5 class="accordion-header" id="headingFour">
        <a tabindex="0"
          id="changePwdPopover"
          data-bs-container="body"
          data-bs-trigger="manual"
          data-bs-toggle="popover"
          data-bs-content="Password successfully changed"
          data-bs-placement="top">
        <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            {% if initial_password %}
              Set Password
            {% else %}
              Change Password
            {% endif %}
        </button>
      </h5>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
        <div class="accordion-body">
          {% include "account/controlpanel/change-password-card.html" %}
        </div>
      </div>
    </div>

  </div>
  <div class="mt-4 ps-3">
  <a href="{% url "account:auth-logout" %}" class="btn btn-secondary">{% trans "Logout" %}</a>
  </div>
</div>

          {% include "account/controlpanel/personal-apikey-modal.html" %}
<script>
$(document).ready(function() {
  new account.ChangeInformation();
  new account.UserSettings();
});
</script>

