{% load i18n static crispy_forms_tags %}
<div class="modal fade" id="orgApiKeyModal" tabindex="-1" role="dialog" aria-labelledby="orgApiKeyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header grey-bg">
        <h5 class="modal-title" id="orgApiKeyModalLabel">{% trans "Create API Key" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          class="create_org_key"
          data-api-base="{% url "account_api:org-detail" pk=request.selected_org.slug %}"
          data-api-action="create_key"
          data-api-method="POST"
        >
        <div data-api-subscriptionmit="yes">
        {{ create_org_key_form|crispy }}
        </div>
        <div class="right">
          <button type="button" class="btn btn-manage subscriptionmit">
            {% trans "Create" %}
          </button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>