{% load i18n static %}
<h5 class="mt-2">{% trans "Pending users" %}</h3>
<div
  class="pending-user-listing"
  data-api-base="{% url "account_api:org-detail" pk=request.selected_org.slug %}"
  data-api-action="invites">
  <div class="templates" style="display:none">
    <div data-template="row" class="row">
      <div scope="col" class="table-text-bold dark-grey col" data-field="user_name"></div>
      <div scope="col" class="light-grey col" data-field="email"></div>
      <div scope="col" class="manage-column right small-links col">
        {% if permissions.create_org_user %}
        <a
          tabindex="0"
          class="resend-invite"
          href="javascript:void(0)"
          data-bs-container="body"
          data-bs-toggle="popover"
          data-bs-placement="top">Re-Send Invitation</a>
        {% endif %}
      </div>
    </div>
  </div>

  <table table class="table table-sm mt-n2">
    <div class="list-body container-fluid"></div>
  </table>
</div>


<script>
$(document).ready(function() {
  new account.PendingUsers();
});
</script>

