{% load i18n static %}

<h5 class="accordion-header" id="heading-services">
  <button class="accordion-button fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-services" aria-expanded="true" aria-controls="collapseFive">
    {% trans "Services" %}
  </button>
</h5>

<div id="collapse-services" class="accordion-collapse collapse show" aria-labelledby="heading-services">

  <div
    class="service-apps-listing pt-3"
    data-api-base="{% url "applications_api:service_application-list" %}"
    data-api-action="">
    <div class="templates" style="display:none">
      <a  data-template="row" class="service-app redirect | row">
        <div class="col-4 align-items-center justify-content-center">
          <img src="" class="logo" data-logo-url="{% static "common/logos/svc_slug-dark.svg" %}" />
        </div>
        <div class="col-8">
          <p class="description" data-field="description"></p>
        </div>
      </a>
    </div>

    <div class="service-apps-list list-body container-fluid">
    </div>
  </div>


  <div
    class="service-listing pt-3"
    data-api-base="{% url "billing_api:org-detail" pk=request.selected_org.slug %}"
    data-api-action="services">
    <div class="templates" style="display:none">
      <table >
        <tr data-template="row" class="">
          <td scope="col" data-field="name"></td>
        </tr>
      </table>
    </div>

    <table class="table table-sm table-inline service-list">
      <tbody id="serviceListBody" class="list-body"></tbody>
    </table>
  </div>

  <script>
  $(document).ready(function() {
    new account.Services();
    new account.ServiceApplications();
  });
  </script>

</div>