{% load i18n static %}
<h5 class="pb-3 border-bottom">{% trans "Services" %}</h5>

<div
  class="service-apps-listing pt-3"
  data-api-base="{% url "applications_api:service_application-list" %}"
  data-api-action="">
  <div class="templates" style="display:none">
    <div data-template="row" class="service-app">
      <a class="redirect">
        <img src="" class="logo" data-logo-url="{% static "common/logos/svc_slug-dark.svg" %}" />
      </a>
    </div>
  </div>

  <div class="service-apps-list list-body center">
  </div>
</div>


<div
  class="service-listing pt-3"
  data-api-base="{% url "billing_api:org-detail" pk=request.selected_org.slug %}"
  data-api-action="services">
  <div class="templates" style="display:none">
    <table >
      <tr data-template="row" class="">
        <td scope="col" data-field="name"></td>
      </tr>
    </table>
  </div>

  <table class="table table-sm table-inline service-list">
    <tbody id="serviceListBody" class="list-body"></tbody>
  </table>
</div>

<script>
$(document).ready(function() {
  new account.Services();
  new account.ServiceApplications();
});
</script>
