{% load i18n static %}
<h5>{% trans "Users" %}</h5>
<div
  class="user-listing"
  data-api-base="{% url "account_api:org-detail" pk=request.selected_org.slug %}"
  data-api-action="users">
  <div class="templates" style="display:none">
    <div
      data-template="permissions"
      data-api-base="{% url "account_api:org-detail" pk=request.selected_org.slug %}"
      data-api-action="set_permissions"
      data-api-method="PUT">
      <div class="row">
        <div style="display:none" data-api-submit="yes">
          <input type="text" name="id" type="hidden">
          <input type="text" name="component" type="hidden">
        </div>

        <div class="col-3 ml-4" data-field="component"></div>
        <div class="col-8">
          <span><input data-permission-flag="c" type="checkbox"> create</span>
          <span><input data-permission-flag="r" type="checkbox"> read</span>
          <span><input data-permission-flag="u" type="checkbox"> update</span>
          <span><input data-permission-flag="d" type="checkbox"> delete</span>
        </div>
      </div>
    </div>

    <table>
    <tr data-template="row" class="large-table-row">
      <td scope="col" data-field="name" class="name-column table-text-bold dark-grey"></td>
      <td scope="col" data-field="email" class="light-grey"></td>
      <td scope="col" class="manage-column right">
        <button class="btn btn-slim btn-manage manage">{% trans "Manage" %}</button>
      </td>
    </tr>
    <tr data-template="row" class="manage">
      <td colspan="3" scope="col">
        <div class="row">
          <div class="col-xs-12 col-md-9 col-lg-10">
            <div data-field="permissions"></div>
          </div>
          <div class="col-xs-12 col-md-3 col-lg-2 right">
            <button class="btn btn-slim btn-danger" data-api-action="user" data-api-method="DELETE" data-api-callback="remove" data-confirm="Remove user from organization?">Remove</button>
          </div>
        </div>
      </td>
    </tr>

    </table>
  </div>

  <table class="table table-sm">
    <tbody class="list-body">
    </tbody>
  </table>
</div>


<script>
$(document).ready(function() {
  var user_list = new account.UsersList();
});
</script>
