{% load i18n static %}
<div
  class="user-listing"
  data-api-base="{% url "account_api:org-detail" pk=request.selected_org.slug %}"
  data-api-action="users">
  <div class="templates" style="display:none">
    <div
      class="permissions"
      data-template="permissions"
      data-api-base="{% url "account_api:org-detail" pk=request.selected_org.slug %}"
      data-api-action="set_permissions"
      data-api-method="PUT">
      <div class="row" style="margin-bottom: 3px;">
        <div style="display:none" data-api-submit="yes">
          <input type="text" name="id" type="hidden">
          <input type="text" name="component" type="hidden">
        </div>

        <div class="col-md-7" data-field="component"></div>
        <div class="col-md-3">
          <span style="white-space: nowrap"><input data-permission-flag="r" type="checkbox"> read</span>
          <span style="white-space: nowrap"><input data-permission-flag="cud" type="checkbox"> write</span>
        </div>
        <div class="col-md-1 right">
          <button class="btn btn-slim-dynamic btn-danger delete-override">x</button>
        </div>
      </div>
    </div>

    <div class="row" data-template="row">
      <div class="col">

        <div class="row">
          <div class="col">
            <div scope="col" data-field="name" class="name-column table-text-bold dark-grey"></div>
            <div scope="col" data-field="email" class="col light-grey"></div>
          </div>
          <div scope="col" class="col manage-column right d-flex align-items-center justify-content-end">
            <button class="btn btn-slim btn-manage manage">{% trans "Manage" %}</button>
          </div>
        </div>

        <div data-template="row" class="manage row" style="display: none;">
          <div scope="col" class="col">
            <div class="row">
              <div class="col-xs-12 col-md-9 col-lg-8">
                <div>
                  <h6>{% trans "Roles" %}</h6>
                  <div data-field="roles"></div>
                </div>
                <div class="marg-top">
                  <h6>{% trans "Permissions" %}</h6>
                  <div data-field="permissions"></div>
                </div>
              </div>
              <div class="col-xs-12 col-md-3 col-lg-4 right">
                <button class="btn btn-slim btn-danger" data-api-action="user" data-api-method="DELETE" data-api-callback="remove" data-confirm="Remove user from organization?">Remove</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="list-body container-fluid">
  </div>
</div>


<script>
$(document).ready(function() {
  new account.UsersList();
});
</script>
