{% load i18n crispy_forms_tags %}

          <form
            class="user-settings"
            data-api-base="{% url "account_api:user-user-settings" %}"
            data-api-method="PUT"
          >
            <div data-api-subscriptionmit="yes">
            {{ form.opt_promotions | as_crispy_field }}
            </div>
            <div class="right">
              <button type="button" class="btn btn-primary subscriptionmit">{% trans "Save" %}</button>
            </div>
          </form>

