/* overrides for specific elements */
:root {
  --dark-gray: var(--foreground);
  --light-gray: var(--foreground);
  --header-bg: var(--clr-bg-700);
  --accordion-background-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

:root[data-theme="light"] {
  --accordion-background-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-outer {
  flex: 1;
}

.header img.logo {
  max-height: 100%;
  padding-top: var(--size-200);
  padding-top: var(--size-200);
}

.header-outer {
  background: var(--header-bg);
}

.content-outer {
  background: var(--background);
}

h1, h2, h3, h4, h5 {
  color: var(--foreground);
}

.text-dark {
  color: var(--foreground) !important;
  font-weight: 800;
}

.dark-grey {
  font-weight: 800;
}

.light-grey {
  color: var(--th-clr);
}

.controlpanel {
  padding-top: var(--size-400);
}

.btn-manage {
  color: var(--foreground);
  background: var(--secondary-list-btn-bg);
  border: 1px solid var(--theme-secondary-border-color);
}

.btn-slim.btn-danger {
  --bs-btn-color: var(--clr-accent-600);
  --bs-btn-bg: transparent;
  --bs-btn-hover-color: var(--clr-accent-600);
  --bs-btn-hover-bg: transparent;
  --bs-btn-active-color: var(--clr-accent-600);
  --bs-btn-active-bg: transparent;
  border: 1px solid var(--clr-accent-600);
}

.btn.org-select-dropdown-header,
.btn.btn-secondary,
.btn.cancel-collapse {
  --bs-btn-color: var(--foreground);
  --bs-btn-bg: transparent;
  --bs-btn-hover-color: var(--foreground);
  --bs-btn-hover-bg: transparent;
  --bs-btn-active-color: var(--foreground);
  --bs-btn-active-bg: transparent;
  border: 1px solid var(--theme-secondary-border-color);
  color: var(--bs-btn-color);
  border-radius: 4px;
  background: transparent;
}

.btn-square {
  color: var(--foreground);
  background: var(--secondary-list-btn-bg);
  border: 1px solid var(--theme-secondary-border-color);
}

.user-info button.submit,
.modal button.submit,
.btn-success,
.btn-primary {
  color: var(--primary-btn-clr);
  background-color: var(--primary-btn-bg);
  --bs-btn-hover-color: var(--primary-btn-clr);
  --bs-btn-hover-bg: var(--primary-btn-bg);
  --bs-btn-active-color: var(--primary-btn-clr);
  --bs-btn-active-bg: var(--primary-btn-bg);
  border: none;
  text-transform: uppercase;
  font-size: var(--fs-300);
  font-weight: var(--fw-semi-bold);
}

.btn.cancel-collapse,
.user-info button.submit {
  --bs-btn-padding-x: var(--size-300);
  --bs-btn-padding-y: var(--size-100);
  border-radius: 0.375rem;
  text-decoration: none;
}

.btn-oauth {
  background-color: var(--box-bg);
  border-color: var(--theme-secondary-border-color);
  margin-bottom: var(--size-100);
}

button.close[data-bs-dismiss="modal"] {
  background: transparent;
  border: none;
}

.form-control:focus,
.form-select,
.form-control {
  background: transparent;
  border-color: var(--theme-secondary-border-color);
  color: inherit;
}

/* accordion */
.accordion {
  --bs-accordion-bg: transparent;
  --bs-accordion-color: var(--foreground);
  --bs-accordion-btn-color: var(--foreground);
  --bs-accordion-active-color: var(--foreground);
  --bs-accordion-active-bg: transparent;
}

.accordion-button::after {
  background-image: var(--accordion-background-img);
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--accordion-background-img);
  transform: rotate(-180deg)
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
}

.accordion .accordion-button {
  font-size: var(--fs-450);
}

.accordion .accordion-item {
  border-color: var(--clr-bg-700);
  background-color: transparent !important;
}

#changePwdPopover {
  background-color: transparent !important;
}

.user-info {
  background-color: var(--box-bg);
}

.custom-divider::after {
  border: none;
}

.caret.down {
  border-top-color: var(--foreground);
}

.table th,
.table td {
  padding: var(--size-400) var(--size-425);
}

.table-sm td {
  padding: 0.3rem var(--size-425);
}

.personal-key-container {
  background: transparent;
  border-radius: 4px;
}

.personal-key-container .pkb {
  background: transparent;
}

.footer {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  max-width: none;
}

.footer-outer {
  background-color: var(--background);
  min-height: 0;
}

.footer a {
  color: var(--footer-clr);
}

.modal-header {
  background: transparent;
}

#card-element {
  background: white;
}
