{% extends "account/base.html" %}
{% load static i18n %}
{% block content %}
{% if not error %}
<h3>{% trans "Billing Agreement Canceled" %}</h3>
<p>
{% if user_payment_opt.status == "pending" %}
{% blocktrans %}
The billing agreement process has been canceled.
{% endblocktrans %}
{% else %}
{% blocktrans %}
The billing agreement has been canceled.
{% endblocktrans %}
{% endif %}
</p>
{% else %}
<h3>{% trans "Billing Agreement Error" %}</h3>
{% endif %}
<p><a href="/">{% trans "Return home" %}</a>
{% endblock %}
