{% extends "account/base.html" %}
{% load i18n static crispy_forms_tags %}


{% block content %}

<div class="row">

  <!-- OAUTH -->

  <div class="col-xs-12 col-sm-6 col-md-4">
  <h4>{% trans "Authenticate with" %}</h4>
  {% include "account/auth/oauth.html" %}
  </div>

  <!-- LOGIN -->

  <div class="col-xs-12 col-sm-6 col-md-4">
  {% if password_login_enabled %}
    <p>Explore our products by registering a free account.<br /><br />
Signing in from PeeringDB is preferred because it associates authorized ASNs with your account.<br /><br />

<a href="{% url 'account:auth-register' %}?next={{ request.GET.next|urlencode }}">{% trans "Register New Account" %}</a></p>
  <h4>{% trans "Login" %}</h4>
  <form method="POST" action="{% url 'account:auth-login' %}">
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button type="submit" class="btn btn-success">{% trans "Login" %}</button>
    <p><a href="{% url 'account:auth-reset-password-start' %}">{% trans "Forgot password?" %}</a></p>
  </form>
  {% else %}
  <p>{% blocktrans %}Please authenticate through one of the providers on the left.{% endblocktrans %}</p>
  {% endif %}
  </div>

  <!-- PADDING RIGHT -->

  <div class="col-xs-12 col-sm-12 col-md-4"></div>

</div>

{% endblock %}
