{% extends "account/base.html" %}
{% load i18n static crispy_forms_tags %}
{% block content %}

<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-4"></div>
  <div class="col-xs-12 col-sm-12 col-md-4">
  <h5>{% trans "Reset password" %}</h5>
  <div class="alert alert-info">
  {% if pwdrst %}
  {% blocktrans %}
  Provide a new password below
  {% endblocktrans %}
  {% else %}
  {% blocktrans %}
  Enter the email address linked to your account to
  start the password reset process.
  {% endblocktrans %}
  {% endif %}
  </div>
  <div class="alert alert-success" style="display:none">
  {% blocktrans %}
  Password reset instructions have been sent to you, provided the email address was found in our system.
  {% endblocktrans %}
  </div>
  <form
    class="password-reset"
    {% if pwdrst %}
    data-api-base="{% url "account_api:pwdrst-complete" %}"
    {% else %}
    data-api-base="{% url "account_api:pwdrst-start" %}"
    {% endif %}
    data-api-method="POST">
  <div data-api-submit="yes">
  {{ form|crispy }}
  </div>
  <button type="button" class="btn btn-primary submit">{% trans "Reset password" %}</button>
  </form>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4"></div>

</div>

<script>
$(document).ready(function() {
  window.password_reset = new account.PasswordReset();
});
</script>

{% endblock %}
