{% load static i18n %}
{% block footer %}
<div class="row mt-0">
  <div class="col-4 mx-auto text-center marg-top">
    {% block developer %}
    <!-- <h6 class="d-inline developed-by">Developed by</h6> -->
    <img src="{% static "common/fullctl.svg" %}" class="smaller-logo">
    {% endblock %}
  </div>
</div>

<div class="row mt-3 pt-3 footer-links">
  <div class="col-sm-6">
    <div class="copyright">
    {% block copyright %}© 2020-{% now "Y" %} 20C, LLC{% endblock %}
    </div>
    <small class="copyright">{{ version }}</small>
  </div>
  <div class="col-sm-6">
    <p class="float-sm-right" >
    {% block contactus %}<a href="mailto:sales@20c.com">Contact us</a>{% endblock %}
    </p>
  </div>
  <div class="w-100"></div>
  <div class="col-sm-6">
    <p>
    {% block legal %}<a href="https://20c.com/legal">Legal</a>{% endblock %}
    </p>
  </div>
</div>

{% include "account/snippets.html" %}


{% endblock %}
