{% load static i18n %}
{% block header %}
<script>
  const root = document.documentElement;
  const primaryColorValue = "{{ org_branding.css.primary_color }}"
  if (primaryColorValue) {
    root.style.setProperty('--clr-accent-400', primaryColorValue);
  }

  document.addEventListener("DOMContentLoaded", function() {
    var appLogo = document.querySelector('.fullctl.logo');
    if (appLogo) {
        logo_width = "{{ org_branding.css.logo_width }}"
        if (logo_width) {
          appLogo.setAttribute("width", logo_width);
        }
    };
  });
</script>
<div class="col-xs-12">
  <a class="logo-container" href="/">
    {% if org_branding.custom_org %}
      <img class="fullctl logo" src={{ org_branding.dark_logo_url }} alt="{{ service_tag }}">
    {% else %}
      <img class="fullctl logo" src="{% static "common/fullctl.svg" %}" alt="{{ service_tag }}">
    {% endif %}
  </a>
</div>
{% endblock %}
