{% extends "account/controlpanel/index.html" %}
{% load i18n static %}


{% block controlpanel %}
<h5>{{ request.selected_org.label }} - {% trans "Billing Contacts" %}</h5>


<div class="billing-contacts">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">{% trans "Name" %}</th>
        <th scope="col right"></th>
      </tr>
    </thead>
    <tbody>
    {% if permissions.create_org_billing__contact %}
      <tr>
        <td>{% trans "Add a new billing contact ..." %}</td>
        <td class="right">
          <a class="btn btn-primary btn-sm" href="{% url "billing:setup" %}">{% trans "Add" %}</a>
        </td>
      </tr>
    {% endif %}
    {% for billcon in billing_contacts %}
      <tr>
        <td>{{ billcon.name }}</td>
        <td class="right">
          {% if permissions.update_org_billing__contact %}
          <a href="{% url "billing:billing-contact" billcon.id %}" class="btn btn-secondary btn-sm">{% trans "Edit" %}</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
{% block menu %}
<div class="row mt-4">
  <div class="col text-center">
    <a class="btn btn-secondary" href="/">{% trans "Return to Account Dashboard" %}</a>
  </div>
</div>
{% endblock %}

