{% extends "account/controlpanel/index.html" %}
{% load i18n static %}


{% block controlpanel %}
<h5>{{ request.selected_org }} - {% trans "Order History" %}</h5>


{% if not order_history %}
<div class="alert alert-secondary">
{% blocktrans %}
You have not made any payments
{% endblocktrans %}
</div>
{% else %}
<div class="order_history-history">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">{% trans "Description" %}</th>
        <th scope="col">{% trans "Price" %}</th>
        <th scope="col">{% trans "Date" %}</th>
        <th scope="col">{% trans "Details" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for order_history in order_history %}
      <tr>
        <td>{{ order_history.description }}</td>
        <td>${{ order_history.price }} USD</td>
        <td>{{ order_history.processed|date:"Y-m-d" }}</td>
        <td><a href="{% url "billing:order_history-history-details" id=order_history.order_id %}">{{ order_history.orderitem_set.count }} {% trans "items" %}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock %}
